@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root {
    --bgColor: #333;
    --textP: #fff;
    --textS: #666;
    --primaryColor : #fd4;
}

* {
    padding: 0;
    margin: 0;
}

main{
   width: 800px auto;
   margin: 50px;
}

body {
    font-family: "Inter Tight", sans-serif;
    background-color: var(--bgColor);
    color: var(--textP);
    font-size: 1.4rem;
}

h1 {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--primaryColor);
}

h1 svg {
    width: 40px;
    fill: var(--primaryColor);
}

#header {
    margin-top: 15px;
    display: grid;
    gap: 20px;    
    grid-template-columns: 1fr 1fr;
    margin: 20px 6px 30px;
}
#btn {
    text-align: right;
}
button {
     background-color: rgba(255, 255, 255, .2);
     border: none;
     padding: 5px 10px;
     color: var(--textP);
     border-radius: 5px;
     font-weight: 500;
     cursor: pointer;
}
#info {
    color: var(--primaryColor);
    font-weight: bold;
}

div#game {
    line-height: 35px;
    height: 105px;
    overflow: hidden;
    position: relative;
}

#focus-error {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#words{
    filter: blur(5px);
}

#game:focus #words {
    filter: blur(0);
}

#game:focus #focus-error{
    display: none;
}

div.word {
    display: inline-block;
    font-family: "JetBrains Mono", monospace;
    margin: 0 5px;
}