@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --backGround: #0F1117;
    --PSurface: #161A23;
    --SSurface: #1E2430;
    --border: #2A3040;
    --text: #fff;
    --incorrect : #E74C3C;
    --timer: #4F6DFF;
    --corrected: #F1C40F;
}

body{
    font-family: "Inter Tight", sans-serif;
    font-size: 1.4rem;
    background-color: var(--backGround);
    color: var(--text);
    fill: var(--text); 
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
    margin: 35px auto;
    width: min(800px, 95%);
    padding: 2rem;
    border-radius: 12px;
    background-color: var(--border);
}

main {
   width: 90%;
   margin: 35px auto;
   position: relative;
}

h1 {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

h1 svg {
    width: 40px;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 3rem;
    color: var(--timer);
}

.quotes {
    display: flex;
    flex-direction: row;
}

.start-text {
    font-size: 0.8rem; /* smaller text */
    margin-right: 5px; /* space before SVG */
    font-weight: 500;
    color: var(--text);
}

.quote-input {
    min-height: 120px;
    padding: 1rem;
    border-radius: 8px;
    height: 12rem;
    outline: none;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-family: "JetBrains Mono", monospace;
    background-color: var(--SSurface);
    border: 2px solid transparent;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

.quote-input::-webkit-scrollbar {
    width: 6px;
}

.quote-input::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 10px;
}

.quote-display {
    font-family: "JetBrains Mono", monospace;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.5);
}

.quote-display span {
    display: inline-block;   
    min-width: 0.6ch;        
    white-space: pre;
}

.refresh-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    fill: var(--text);
    display: flex;
    align-items: center;
}

.refresh-btn svg {
    width: 20px;
    height: 20px;
    display: block;
}

.refresh-btn:hover {
    opacity: 1;
}

.correct {
    color: var(--text);
}

.incorrect {
    color: var(--incorrect);
    border-bottom: 2px solid var(--incorrect);
    display: inline-block;
}

.corrected {
    color: var(--corrected);
}

/* result box*/ 
.result-modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.6);
  z-index: 1000;
}

.hidden {
  display: none;
}

.result-box {
  background: var(--PSurface);
  padding: 2rem;
  border-radius: 16px;
  width: min(400px, 90%);
  text-align: center;
  border: 1px solid var(--border);
}

.result-grid {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.result-grid div {
  flex: 1;
}

.result-grid p {
  font-size: 0.9rem;
  opacity: 0.7;
}

.result-grid span {
  font-size: 1.6rem;
  font-weight: bold;
}

.overall {
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1.2rem;
}

#resultTime {
    color: var(--timer);
    font-weight: bold;
}

.restart-btn {
  background: none;
  border: 1px solid var(--border);
  padding: 0.6rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.2s ease;
}

.restart-btn svg {
    height: 15px;
    width: 15px;
    fill: var(--text);
}

.restart-btn:hover {
  background: var(--border);
}


/* Focus state */
.quote-input:focus {
    border: 2px solid var(--timer);
    box-shadow: 0 0 0 3px rgba(79, 109, 255, 0.2);
}